
@page "/Aboutus"
@inject NavigationManager NavManager
<main>
    <div>
<center><h3> About Us</h3></center>
    <p>
       This is a IMS of the bike service centre which allows their staff to get or take items out from inventory only
        between 9 am to 4 pm, 5 days a week (from Monday to Friday).
        We are the best IMS Management TooL. We have been providing our services since 2021 jan 12. Hope you like our service well. Thank you!!
    </p>

</div>
</main>
@code {

}